html {
    background-image: url("https://beiz.jp/images_P/cloth/cloth_00146.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

body {
    font-family: "Hannari";
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgba(255, 255, 255, 0.1);
    background-blend-mode: lighten;
    text-align: center;
}


.main {
    display: flex;
    justify-content: space-between;
    font-size: 60px;
    margin: 50px auto;
}

.maintitle {
    width: 300px;
    position: relative;
    padding: 0.05em 1em;
    border-top: solid 3px black;
    border-bottom: solid 3px black;
}

.maintitle:before,
.maintitle:after {
    content: '';
    position: absolute;
    top: -7px;
    width: 3px;
    height: calc(100% + 14px);
    background-color: black;
}

.maintitle:before {
    left: 7px;
}

.maintitle:after {
    right: 7px;
}

.cat-img1 {
    margin-top: 100px;
    width: 200px;
    height: 250px;
}

.mainvisual {
    display: block;
}

mai .btn-comment {
    font-size: 25px;
    font-weight: 200;
}

.btn {
    width: 70px;
    height: 70px;
    margin: 15px auto;
    border-radius: 50%;
}

.btn:hover {
    transform: translateY(10px);
}

.result img {
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
    width: 700px;
    height: 500px;
    box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.9);

}


.result {
    font-family: "Hannari";
    font-size: 60px;
    color: red;

}