body {
    text-align: center;
}

.maintitle {
    font-size: 60px;
    margin: 50px auto;
}

.btn{
width: 30px;
height: 30px;
}

img {
    margin: 0 auto;
    display: block;
    width: 700px;
    height: 700px;
}


.result {
    font-size: 100px;
    color: red;

}
